@tailwind base;
@tailwind components;
@tailwind utilities;

.react-grid-item.react-grid-placeholder {
  background: #1a73e8;
  opacity: 0.2;
  border-radius: 0.5rem;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}